body { 
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.homePage {
    font-family: 'Courier New', Courier, monospace;
}

.homePage button:hover { 
    background-color: #B99470;
    color:antiquewhite;
    cursor: pointer;
}
    
.welcome { 
    display: flex; 
    align-items: center; 
    justify-content: center;

    color:antiquewhite; 
    font-size: 25px; 
    text-shadow: -1px 1px 0 #000, 
                  2px 2px 0 #000, 
                 1px -1px 0 #000, 
                -1px -1px 0 #000; 
} 

.check { 
    height: 520px;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.return {  
    height: 520px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.actionPage h1 { 
    color:antiquewhite;
    font-size: 50px;
}

.actionPage button { 
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;  
    font-weight: bold;
    background-color: #B99470;
    border-radius: 5px;
}

.actionPage button:hover {
    background-color: antiquewhite;
    cursor: pointer;
}
.actionHead { 
    text-align: center;

}

.bookList {  
    display: flex; 
    justify-content: center;
}
.bookList table, th, td{ 
    width: 80%;
    padding: 10px; 
    font-size: 15px;
}

.bookList table { 
    background-color: #B99470;
    box-shadow: 3px 3px 10px #0e0808;
}

.bookList tr { 
    background-color: antiquewhite;
}


.goBack { 
    margin: 25px;
}

.goBack button { 
    align-self: start;
    padding: 10px 15px;
}