body { 
    font-family: "Roboto Flex", sans-serif;
    background-size: cover;
    margin: 0px;
}

.actionPage { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 60px auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
} 
.actionPage button { 
    font-family: "Roboto Flex", sans-serif;
    font-size: 1.5vw;  
    font-weight: bold;
    border-radius: 5px;
    border: thin;
}
.actionPage button:hover {
    background-color: #6A9C89;
    cursor: pointer;
}

.header { 
    grid-area: 1 / 1 / 2 / 6;
    height:50px;
    width: 100%;
    padding: 5px;
    background-color: #C4DAD2;
    position:fixed;
    display: flex; 
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header > .logo { 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.header > .buttons { 
    margin-right: 60px;
}


.buttons button { 
    margin: 8px;
    padding: 5px;
}
.title { 
    grid-area: 2 / 1 / 3 / 6;
    height:40px;
    padding: 10px;
    margin-left: 70px;
    margin-top: 20px;
    font-size: 1.2vw;
}

.bookList { 
    grid-area: 3 / 1 / 6 / 6;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top:30px;
}
.bookList table{ 
    width: 90%;
    padding: 10px; 
    font-size: 1.5vw;
}
.bookList tr:nth-child(even) {
    background-color: #C4DAD2;
}
.bookList table { 
    border-collapse:collapse;
    border: solid;
}
.bookList, tr, td {
    padding: 20px;
}
.theading {
    background-color: #6A9C89;
}
.theading, th { 
    text-align: left;
    padding-left:20px;
}
